<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="HierarchyListForm">

        <p:panel header="#{myBundle.ListHierarchyTitle}">
            
            <p:contextMenu id="HierarchyDataTableContextMenu" 
                           for="datalist">  
                
                <p:menuitem value="#{myBundle.Create}" 
                            onclick="document.getElementById('HierarchyListForm:createButton').click();" 
                            icon="ui-icon-plus"/>
                
                <p:menuitem value="#{myBundle.View}" 
                            onclick="document.getElementById('HierarchyListForm:viewButton').click();" 
                            icon="ui-icon-search"/>
                
                <p:menuitem value="#{myBundle.Edit}" 
                            onclick="document.getElementById('HierarchyListForm:editButton').click();" 
                            icon="ui-icon-pencil"/>
                
                <p:menuitem value="#{myBundle.Delete}" 
                            onclick="document.getElementById('HierarchyListForm:deleteButton').click();" 
                            icon="ui-icon-trash"/>
                
                <p:separator/>
                
                <p:menuitem value="#{myBundle.HierarchyMenuItem_users}" 
                            icon="ui-icon-search"  
                            action="#{hierarchyController.setContextItems}" 
                            disabled="#{empty hierarchyController.selected.users}" 
                            ajax="false"/>  
                
            </p:contextMenu>
            
            <p:dataTable id="datalist"
                         value="#{hierarchyController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{hierarchyController.selected}">
                <!--
                         Para habilitar Lazy Loading , copie/substitua as seguintes linhas acima,
                         e certifique-se de substituir a palavra Hash pelo símbolo #:
                
                         value="HASH{hierarchyController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remova esta linha
                -->


                <p:ajax event="rowSelect"   
                        update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:HierarchyDataTableContextMenu"/>
                
                <p:ajax event="rowUnselect" 
                        update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:HierarchyDataTableContextMenu"/>
                
                <p:ajax event="contextMenu" 
                        update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                
                <p:ajax event="rowDblselect" 
                        onsuccess="document.getElementById('HierarchyListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" 
                          filterBy="#{item.id}">
                    
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHierarchyTitle_id}"/>
                    </f:facet>
                    
                    <h:outputText value="#{item.id}"/>
                    
                </p:column>


                <p:column sortBy="#{item.description}" 
                          filterBy="#{item.description}">
                    
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHierarchyTitle_description}"/>
                    </f:facet>
                    
                    <h:outputText value="#{item.description}"/>
                    
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             
                             icon="ui-icon-plus"   
                             value="#{myBundle.Create}" 
                             actionListener="#{hierarchyController.prepareCreate}" 
                             update=":HierarchyCreateForm" 
                             oncomplete="PF('HierarchyCreateDialog').show()"/>
            
            <p:commandButton id="viewButton"   
                             style="visibility: hidden;" 
                             icon="ui-icon-search" 
                             value="#{myBundle.View}" 
                             update=":HierarchyViewForm" 
                             oncomplete="PF('HierarchyViewDialog').show()" 
                             disabled="#{empty hierarchyController.selected}"/>
            
            <p:commandButton id="editButton"   
                             style="visibility: hidden;" 
                             icon="ui-icon-pencil" 
                             value="#{myBundle.Edit}" 
                             update=":HierarchyEditForm" 
                             oncomplete="PF('HierarchyEditDialog').show()" 
                             disabled="#{empty hierarchyController.selected}"/>
            
            <p:commandButton id="deleteButton" 
                             style="visibility: hidden;" 
                             icon="ui-icon-trash"  
                             value="#{myBundle.Delete}" 
                             actionListener="#{hierarchyController.delete}" 
                             update=":growl,datalist" 
                             disabled="#{empty hierarchyController.selected}">
                
                <p:confirm header="#{myBundle.ConfirmationHeader}" 
                           message="#{myBundle.ConfirmDeleteMessage}" 
                           icon="ui-icon-alert"/>
                
            </p:commandButton>

        </p:panel>
        
        <ui:include src="/template/confirmation.xhtml"/>
        
    </h:form>

</ui:composition>