<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UserListForm">

        <p:panel header="#{myBundle.ListUserTitle}">
            
            <p:contextMenu id="UserDataTableContextMenu" 
                           for="datalist">  
                
                <p:menuitem value="#{myBundle.Create}" 
                            onclick="document.getElementById('UserListForm:createButton').click();" 
                            icon="ui-icon-plus"/>
                
                <p:menuitem value="#{myBundle.View}" 
                            onclick="document.getElementById('UserListForm:viewButton').click();" 
                            icon="ui-icon-search"/>
                
                <p:menuitem value="#{myBundle.Edit}" 
                            onclick="document.getElementById('UserListForm:editButton').click();" 
                            icon="ui-icon-pencil"/>
                
                <p:menuitem value="#{myBundle.Delete}" 
                            onclick="document.getElementById('UserListForm:deleteButton').click();" 
                            icon="ui-icon-trash"/>
                
                <p:separator/>
                
                <p:menuitem value="#{myBundle.UserMenuItem_hierarchy}" 
                            icon="ui-icon-search"  
                            update=":HierarchyViewForm" 
                            oncomplete="PF('HierarchyViewDialog').show()" 
                            disabled="#{empty userController.selected.hierarchy}">
                  
                    <f:setPropertyActionListener target="#{hierarchyController.selected}" 
                                                 value="#{userController.selected.hierarchy}"/>                     
                    
                </p:menuitem>    
                
                <p:menuitem value="#{myBundle.UserMenuItem_tickets}" 
                            icon="ui-icon-search"  
                            action="#{userController.navigateTickets}" 
                            disabled="#{empty userController.selected.tickets}" 
                            ajax="false"/> 
                
            </p:contextMenu>
            
            <p:dataTable id="datalist"
                         value="#{userController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{userController.selected}">
                
                <!--
                         Para habilitar Lazy Loading , copie/substituir as seguintes linhas acima,
                         e certifique-se de substituir a palavra Hash com o símbolo #:
                
                         value="HASH{hierarchyController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remova esta linha
                -->


                <p:ajax event="rowSelect"   
                        update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UserDataTableContextMenu" 
                        listener="#{userController.setSelected(null)}"/>
                
                <p:ajax event="rowUnselect" 
                        update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UserDataTableContextMenu" 
                        listener="#{userController.setSelected(null)}"/>
                
                <p:ajax event="contextMenu" 
                        update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" 
                        listener="#{userController.setSelected(null)}"/>
                
                <p:ajax event="rowDblselect" 
                        onsuccess="document.getElementById('UserListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" 
                          filterBy="#{item.id}">
                    
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserTitle_id}"/>
                    </f:facet>
                    
                    <h:outputText value="#{item.id}"/>
                    
                </p:column>


                <p:column sortBy="#{item.name}" 
                          filterBy="#{item.name}">
                    
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserTitle_name}"/>
                    </f:facet>
                    
                    <h:outputText value="#{item.name}"/>
                    
                </p:column>


                <p:column sortBy="#{item.login}" 
                          filterBy="#{item.login}">
                    
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserTitle_login}"/>
                    </f:facet>
                    
                    <h:outputText value="#{item.login}"/>
                    
                </p:column>


                <p:column sortBy="#{item.password}" 
                          filterBy="#{item.password}">
                    
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserTitle_password}"/>
                    </f:facet>
                    
                    <h:outputText value="#{item.password}"/>
                    
                </p:column>


                <p:column sortBy="#{item.hierarchy.description}" 
                          filterBy="#{item.hierarchy.description}">
                    
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserTitle_hierarchy}"/>
                    </f:facet>
                    
                    <h:outputText value="#{item.hierarchy.description}"/>
                    
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             
                             icon="ui-icon-plus"   
                             value="#{myBundle.Create}" 
                             actionListener="#{userController.prepareCreate}" 
                             update=":UserCreateForm" 
                             oncomplete="PF('UserCreateDialog').show()"/>
            
            <p:commandButton id="viewButton"   
                             style="visibility: hidden;" 
                             icon="ui-icon-search" 
                             value="#{myBundle.View}" 
                             update=":UserViewForm" 
                             oncomplete="PF('UserViewDialog').show()" 
                             disabled="#{empty userController.selected}"/>
            
            <p:commandButton id="editButton"   
                             style="visibility: hidden;" 
                             icon="ui-icon-pencil" 
                             value="#{myBundle.Edit}" 
                             update=":UserEditForm" 
                             oncomplete="PF('UserEditDialog').show()" 
                             disabled="#{empty userController.selected}"/>
            
            <p:commandButton id="deleteButton" 
                             style="visibility: hidden;" 
                             icon="ui-icon-trash"  
                             value="#{myBundle.Delete}" 
                             actionListener="#{userController.delete}" 
                             update=":growl,datalist" 
                             disabled="#{empty userController.selected}">
                
                <p:confirm header="#{myBundle.ConfirmationHeader}" 
                           message="#{myBundle.ConfirmDeleteMessage}" 
                           icon="ui-icon-alert"/>
                
            </p:commandButton>

        </p:panel>
        
        <ui:include src="/template/confirmation.xhtml"/>
        
    </h:form>

</ui:composition>