<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserViewDlg" 
                  widgetVar="UserViewDialog" 
                  modal="true" 
                  resizable="false"  
                  appendTo="@(body)" 
                  header="#{myBundle.ViewUserTitle}" 
                  closeOnEscape="true">

            <h:form id="UserViewForm">

                <h:panelGroup id="display">
                    
                    <p:panelGrid columns="2" 
                                 columnClasses="column" 
                                 rendered="#{userController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUserLabel_id}"/>
                        
                        <h:outputText value="#{userController.selected.id}" 
                                      title="#{myBundle.ViewUserTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_name}"/>
                        
                        <h:outputText value="#{userController.selected.name}" 
                                      title="#{myBundle.ViewUserTitle_name}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_login}"/>
                        
                        <h:outputText value="#{userController.selected.login}" 
                                      title="#{myBundle.ViewUserTitle_login}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_password}"/>
                        
                        <h:outputText value="#{userController.selected.password}" 
                                      title="#{myBundle.ViewUserTitle_password}"/>

                        <h:outputText value="#{myBundle.ViewUserLabel_hierarchy}"/>
                        
                        <h:outputText value="#{userController.selected.hierarchy.description}"/>
                        
                    </p:panelGrid>
                    
                    <p:commandButton value="#{myBundle.Close}" 
                                     onclick="PF('UserViewDialog').hide()"/>
                    
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
