<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:confirmDialog global="true"> 
        
        <p:commandButton value="#{myBundle.Yes}" 
                         type="button" 
                         styleClass="ui-confirmdialog-yes" 
                         icon="ui-icon-check"/>  
        
        <p:commandButton value="#{myBundle.No}" 
                         type="button" 
                         styleClass="ui-confirmdialog-no" 
                         icon="ui-icon-close"/>  
        
    </p:confirmDialog>

</ui:composition>