<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TicketCreateDlg" 
                  widgetVar="TicketCreateDialog" 
                  modal="true" 
                  resizable="false" 
                  appendTo="@(body)" 
                  header="#{myBundle.CreateTicketTitle}" 
                  closeOnEscape="true">

            <h:form id="TicketCreateForm">

                <h:panelGroup id="display" 
                              rendered="#{ticketController.selected != null}">

                    <p:panelGrid columns="2" 
                                 columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateTicketLabel_title}" 
                                       for="title" />

                        <p:inputText id="title" 
                                     value="#{ticketController.selected.title}" 
                                     title="#{myBundle.CreateTicketTitle_title}" 
                                     required="true" 
                                     requiredMessage="#{myBundle.CreateTicketRequiredMessage_title}" 
                                     size="100" 
                                     maxlength="100"/>
                        
                        <p:outputLabel value="#{myBundle.CreateTicketLabel_description}" 
                                       for="description" />

                        <p:editor id="description"
                                  value="#{ticketController.selected.description}" 
                                  required="true" 
                                  requiredMessage="#{myBundle.CreateTicketRequiredMessage_description}"
                                  widgetVar="editorWidget" 
                                  width="632" />
                        
                    </p:panelGrid>

                    <p:commandButton actionListener="#{ticketController.openTicket()}" 
                                     value="#{myBundle.Save}" 
                                     update="display,:TicketListForm:datalist,:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('TicketCreateDialog'));">

                        <p:confirm header="#{myBundle.ConfirmationHeader}" 
                                   message="#{myBundle.ConfirmCreateMessage}" 
                                   icon="ui-icon-alert"/>

                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" 
                                     oncomplete="PF('TicketCreateDialog').hide()" 
                                     update="display" 
                                     process="@this" 
                                     immediate="true" 
                                     resetValues="true"/>

                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
