<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TicketEditDlg" 
                  widgetVar="TicketEditDialog" 
                  modal="true" 
                  resizable="false" 
                  appendTo="@(body)"
                  header="#{myBundle.EditTicketTitle}" 
                  closeOnEscape="true">

            <h:form id="TicketEditForm">

                <h:panelGroup id="display">

                    <p:panelGrid rendered="#{ticketController.selected != null}">

                        <p:row>
                            <p:column styleClass="column">
                                <h:outputText value="#{myBundle.EditTicketLabel_id}"/>
                            </p:column>

                            <p:column>
                                <h:outputText value="#{ticketController.selected.id}" 
                                              title="#{myBundle.EditTicketTitle_id}"/>
                            </p:column>

                            <p:column styleClass="column">
                                <p:outputLabel value="#{myBundle.EditTicketLabel_status}" 
                                               for="status" />
                            </p:column>

                            <p:column>
                                <p:selectOneMenu id="status" 
                                                 value="#{ticketController.selected.status}" 
                                                 required="true" 
                                                 requiredMessage="#{myBundle.EditTicketRequiredMessage_status}" 
                                                 converter="genericConverter">

                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>

                                    <f:selectItems value="#{statusController.items}"
                                                   var="statusItem"
                                                   itemValue="#{statusItem}"
                                                   itemLabel="#{statusItem.description.toString()}"
                                                   />

                                </p:selectOneMenu>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column styleClass="column">
                                <p:outputLabel value="#{myBundle.EditTicketLabel_dateOpening}" 
                                               for="dateOpening" />
                            </p:column>

                            <p:column>
                                <p:calendar id="dateOpening" 
                                            pattern="MM/dd/yyyy HH:mm:ss" 
                                            value="#{ticketController.selected.dateOpening}" 
                                            title="#{myBundle.EditTicketTitle_dateOpening}" 
                                            required="true" 
                                            requiredMessage="#{myBundle.EditTicketRequiredMessage_dateOpening}" 
                                            />
                            </p:column>

                            <p:column styleClass="column">
                                <p:outputLabel value="#{myBundle.EditTicketLabel_dateClosing}" 
                                               for="dateClosing" />
                            </p:column>

                            <p:column>                                
                                <p:calendar id="dateClosing" 
                                            pattern="MM/dd/yyyy HH:mm:ss" 
                                            value="#{ticketController.selected.dateClosing}" 
                                            title="#{myBundle.EditTicketTitle_dateClosing}" 
                                            />
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column styleClass="column">
                                <p:outputLabel value="#{myBundle.EditTicketLabel_users}" 
                                               for="users" />
                            </p:column>

                            <p:column colspan="3">
                                <p:selectOneMenu id="users" 
                                                 value="#{ticketController.selected.user}" 
                                                 required="true" 
                                                 requiredMessage="#{myBundle.EditTicketRequiredMessage_users}" 
                                                 converter="genericConverter">

                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>

                                    <f:selectItems value="#{userController.items}"
                                                   var="usersItem"
                                                   itemValue="#{usersItem}"
                                                   itemLabel="#{usersItem.name.toString()}"
                                                   />

                                </p:selectOneMenu>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column styleClass="column">
                                <p:outputLabel value="#{myBundle.EditTicketLabel_title}" 
                                               for="title" />
                            </p:column>

                            <p:column colspan="3">
                                <p:inputText id="title" 
                                             value="#{ticketController.selected.title}" 
                                             title="#{myBundle.EditTicketTitle_title}" 
                                             required="true" 
                                             requiredMessage="#{myBundle.EditTicketRequiredMessage_title}" 
                                             maxlength="100"/>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column styleClass="column" 
                                      colspan="4" 
                                      style="text-align: center">

                                <p:outputLabel value="#{myBundle.EditTicketLabel_description}" 
                                               for="description" />

                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="4">
                                <p:editor id="description"
                                          value="#{ticketController.selected.description}" 
                                          required="true" 
                                          requiredMessage="#{myBundle.EditTicketRequiredMessage_description}"
                                          widgetVar="editorWidget" 
                                          />
                            </p:column>
                        </p:row>

                    </p:panelGrid>

                </h:panelGroup>

            </h:form>

            <f:facet name="footer" >
                <h:form>

                    <p:commandButton actionListener="#{ticketController.edit}" 
                                     value="#{myBundle.Save}" 
                                     update=":TicketEditForm:display,:TicketListForm:datalist,:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('TicketEditDialog'));">

                        <p:confirm header="#{myBundle.ConfirmationHeader}" 
                                   message="#{myBundle.ConfirmEditMessage}" 
                                   icon="ui-icon-alert"/>

                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" 
                                     oncomplete="PF('TicketEditDialog').hide()" 
                                     update=":TicketEditForm:display" 
                                     process="@this" 
                                     immediate="true" 
                                     resetValues="true"/>

                </h:form>
            </f:facet>

        </p:dialog>

    </ui:composition>

</html>
