<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="MessageEditDlg" 
                  widgetVar="MessageEditDialog" 
                  modal="true" 
                  resizable="false"  
                  appendTo="@(body)" 
                  header="#{myBundle.EditMessageTitle}" 
                  closeOnEscape="true">

            <h:form id="MessageEditForm">

                <h:panelGroup id="display">

                    <p:panelGrid  columns="2" 
                                  rendered="#{messageController.selected != null}">


                        <h:outputText value="#{myBundle.EditMessageLabel_ticket}"/>

                        <h:outputText value="#{messageController.selected.ticket.id}"/>

                        <p:outputLabel value="#{myBundle.EditMessageLabel_description}" 
                                       for="description" />

                        <p:editor id="description" 
                                  value="#{messageController.selected.description}" 
                                  required="true" 
                                  requiredMessage="#{myBundle.EditMessageRequiredMessage_description}"
                                  width="632" />

                    </p:panelGrid>

                    <!--update="display,:MessageListForm:datalist,:growl" -->
                    <p:commandButton actionListener="#{messageController.edit}" 
                                     value="#{myBundle.Save}" 
                                     update="display, :TicketViewForm, :growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('MessageEditDialog'));">

                        <p:confirm header="#{myBundle.ConfirmationHeader}" 
                                   message="#{myBundle.ConfirmEditMessage}" 
                                   icon="ui-icon-alert"/>

                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" 
                                     oncomplete="PF('MessageEditDialog').hide()" 
                                     update="display" 
                                     process="@this" 
                                     immediate="true" 
                                     resetValues="true"/>

                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
