<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:event type="preRenderView"  listener="#{userController.prepareCreate}" />

    <h:head>
        <title><h:outputText value="#{myBundle.AuthenticateTitle}" /></title>
        <h:outputStylesheet library="css" name="pfcrud.css"/>
        <h:outputStylesheet library="css" name="authenticate.css"/>
        <h:outputScript library="scripts" name="pfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" sticky="true"/>

        <p:dialog id="UserViewDlg" 
                  widgetVar="AuthenticateDialog" 
                  modal="true" 
                  resizable="false"  
                  draggable="false"
                  visible="true" 
                  focus="UserViewDlg"
                  closeOnEscape="false"
                  appendTo="@(body)"
                  width="370"
                  height="500"
                  responsive="true"
                  showHeader="false"
                  header="#{myBundle.AuthenticateUserTitle}">

            <h:form id="UserViewForm">

                <h:panelGroup id="display">



                    <h3>#{myBundle.Welcome}</h3>

                    <span class="ui-addon"><i class="fa fa-users"/></span>


                    <div class="ui-inputgroup" >
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"/></span>
                        <p:inputText id="login" 
                                     class="inputText"
                                     value="#{userController.selected.login}" 
                                     title="#{myBundle.AuthenticateUserTitle_login}" 
                                     required="true" 
                                     requiredMessage="#{myBundle.CreateUserRequiredMessage_login}" 
                                     placeholder="#{myBundle.AuthenticateUserTitle_login}"
                                     />
                    </div>

                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-eye-slash"/></span>
                        <p:inputText id="password" 
                                     class="inputText"
                                     value="#{userController.selected.password}" 
                                     title="#{myBundle.AuthenticateUserTitle_password}" 
                                     required="true" 
                                     requiredMessage="#{myBundle.AuthenticateUserRequiredMessage_password}" 
                                     placeholder="#{myBundle.AuthenticateUserTitle_password}"
                                     />
                    </div>

                    <p:commandButton id="enterButton" 
                                     class="enterButton"
                                     value="#{myBundle.Enter}" 
                                     action="#{authenticateController.accessValidation()}"
                                     update="growl">
                        
                        <f:setPropertyActionListener target="#{authenticateController.userController}" 
                                                     value="#{userController}"/>
                        
                    </p:commandButton>
                    
                    <h10>#{myBundle.ForgotPassword}</h10>
                    
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </h:body>

</html>
